---
import '~/assets/styles/stars.css';
---

<Fragment>
  <div class="bg-animation no-scrollbar -z-50 hidden dark:block">
    <div id="pixel"></div>
    <div id="pixels2"></div>
    <div id="pixels3"></div>
    <div id="pixels4"></div>
  </div>
</Fragment>
