---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import Brands from '~/components/widgets/Brands.astro';
import Features from '~/components/widgets/Features.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <Hero
    id="hero"
    title="Über<br/>mich"
    tagline="Profil"
    actions={[
      { variant: 'primary', text: 'Vita', href: '#resume' },
      { variant: 'primary', text: 'Skills', href: '#skills' },
    ]}
    bg='<img class="absolute -my-2 inset-0 object-cover w-full h-full dark:hidden" src="https://images.unsplash.com/photo-1698175068692-5aaeb2bf5145?q=80&w=2664&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">'
  >
    <Fragment slot="subtitle">
      <span>
        Ich heiße <span class="font-bold"> Alain Ritter</span><br class="md:hidden" /> - ein Generalist, der die Schnittstellen
        <br /> zwischen Design und Projektmanagement liebt. <br />
        Hier kannst du mehr über meine<br /> Herangehensweise und mein Wissen erfahren.
      </span>
    </Fragment>
  </Hero>
  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'Linkedin',
          href: 'https://www.linkedin.com/in/alain-ritter-b49ba8233/',
        },
      },
      {
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'E-Mail',
          href: 'mailto:alain-ritter@protonmail.com',
        },
      },
    ]}
    image={{
      src: '~/assets/images/normal.jpg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="Anklepants text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Über mich</h2>
      <p>
        Als ausgebildeter <span class="font-bold text-muted"> Designer</span> und erfahrener <span
          class="font-bold text-muted">Frontend-Entwickler</span
        > bringe ich technische Expertise und kreatives Denken in Einklang. Zusätzlich zu meinem Fokus auf Webdesign und
        Entwicklung habe ich umfangreiche Erfahrung in agiler <span class="font-bold text-muted">Projektleitung</span> (Scrum)
        sowie in der <span class="font-bold text-muted">Qualitätssicherung</span> (QA). Ob es darum geht, reibungslose Arbeitsabläufe
        zu gewährleisten oder fehlerfreie, benutzerfreundliche Anwendungen zu entwickeln – ich lege Wert auf Lösungen, die
        in allen Bereichen überzeugen und höchsten Ansprüchen gerecht werden.
      </p>
      <br />
      <p>
        Nach <span class="font-bold text-muted">20 Jahren in der IT</span> habe ich an einer Vielzahl von Projekten mitgewirkt:
        von kleinen Websites für den privaten Gebrauch über große E-Commerce-Systeme bis hin zu Apps. Für mich zählen vor
        allem die Details. Eine fließende Animation, eine benutzerfreundliche Navigation oder ein sorgfältig gestaltetes
        Design – ich bin überzeugt, dass es die Feinheiten sind, die ein Projekt erfolgreich machen.
      </p>
      <br />
      <p>Wenn du magst kannst du mich auf Linkedin kontaktieren:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class=""></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Steps
    id="resume"
    title="Lebenslauf"
    items={[
      {
        title:
          'ion2s GmbH <br /> <span class="font-normal">Projektmanager / Scrum Master</span> <br /> <span class="text-sm font-normal">2016 - Heute</span>',
        description: `Verantwortlich für IT-Management und Scrum-Prozesse. <br /> Sicherstellung effizienter Projektabläufe und Kommunikation im Team. <br /> Einführung und Betreuung agiler Methoden und Tools.`,
        icon: 'tabler:briefcase',
        logo: {
          src: '/images/Screenshot-2024-12-05-125828.jpg',
          alt: 'ion2s GmbH Logo',
        },
      },
      {
        title:
          'ion2s GmbH <br /> <span class="font-normal">Front-End-Entwickler</span> <br /> <span class="text-sm font-normal">2012 - 2016</span>',
        description: `Umsetzung moderner Benutzeroberflächen mit CSS und Typo3. <br /> Optimierung von Webseiten für Performance und Benutzerfreundlichkeit. <br /> Zusammenarbeit mit Design- und Back-End-Teams.`,
        icon: 'tabler:briefcase',
        logo: {
          src: '/images/Screenshot-2024-12-05-125828.jpg',
          alt: 'ion2s GmbH Logo',
        },
      },
      {
        title:
          'Intercontact Werbegesellschaft mbH <br /> <span class="font-normal">Web-Entwickler</span> <br /> <span class="text-sm font-normal">2010 - 2012</span>',
        description: `Entwicklung von Webseiten und Online-Anwendungen. <br /> Einsatz von CSS und Adobe Illustrator für die Gestaltung und Umsetzung. <br /> Unterstützung bei digitalen Marketingkampagnen.`,
        icon: 'tabler:briefcase',
        logo: {
          src: '/images/werbeagentur_frankfurt.png',
          alt: 'Intercontact Logo',
        },
      },
      {
        title:
          'PREUSS MEDIENSERVICE e.K. <br /> <span class="font-normal">Mediengestalter</span> <br /> <span class="text-sm font-normal">2003 - 2009</span>',
        description: `Gestaltung und Druckvorbereitung von Printmedien. <br /> Entwicklung kreativer Konzepte für Werbematerialien. <br /> Betreuung des gesamten Druckvorstufenprozesses.`,
        icon: 'tabler:briefcase',
        logo: {
          src: '/images/Screenshot-2024-12-05-125602.jpg',
          alt: 'PREUSS MEDIENSERVICE Logo',
        },
      },
      {
        title:
          'PREUSS MEDIENSERVICE e.K. <br /> <span class="font-normal">Auszubildender im Bereich Drucktechnik</span> <br /> <span class="text-sm font-normal">1999 - 2003</span>',
        description: `Ausbildung in Drucktechnik mit Schwerpunkt Printmedien. <br /> Erlernen der Grundlagen von Design und Druckvorstufe. <br /> Praktische Erfahrung in der Produktion und Qualitätskontrolle.`,
        icon: 'tabler:briefcase',
        logo: {
          src: '/images/Screenshot-2024-12-05-125602.jpg',
          alt: 'PREUSS MEDIENSERVICE Logo',
        },
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Steps
    id="resume"
    title="Ausbildung"
    items={[
      {
        title: `Ausbildung, Mediengestalter für Digital- und Printmedien <br /> <span class="font-normal">Peter-Behrens-Schule Darmstadt</span> <br /> <span class="text-sm font-normal">Aug. 1999 - Juli 2002</span>`,
        description: `Abschlussnote: 1`,
        icon: 'tabler:school',
        logo: {
          src: '/images/Screenshot-2024-12-05-151415.jpg',
          alt: 'PREUSS MEDIENSERVICE Logo',
        },
      },
      {
        title: `Realschulabschluss, Drucktechnik <br /> <span class="font-normal">Peter-Behrens-Schule Darmstadt</span> <br /> <span class="text-sm font-normal">Mai 1996 - Mai 1999</span>`,
        description: `Abschlussnote: 1`,
        icon: 'tabler:school',
        logo: {
          src: '/images/Screenshot-2024-12-05-151415.jpg',
          alt: 'PREUSS MEDIENSERVICE Logo',
        },
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Steps
    id="resume"
    title="Zertifikate"
    items={[
      {
        title: `Certified ScrumMaster® <br /> <span class="font-normal">Scrum Alliance</span> <br /> <span class="text-sm font-normal">Ausgestellt: Apr. 2021 · Gültig bis: Apr. 2025</span>`,
        description: `Zertifikats-ID: 001189726`,
        icon: 'tabler:certificate',
        logo: {
          src: '/images/scrum_alliance_logo.jpg',
          alt: 'Firmen Logo',
        },
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Features3
    id="skills"
    title="Fähigkeiten"
    classes={{ container: 'bg-white dark:bg-transparent' }}
    subtitle="Eine Übersicht meiner Tätigkeiten und Fähigkeiten in den Bereichen Web-Entwicklung, Projektleitung, Scrum Master und QA-Softwaretesting."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Web-Entwicklung',
        description: `Kundenanforderungen analysieren, Web-Applikationen erstellen (HTML, CSS, JavaScript) und Codereviews durchführen. Betreuung bestehender Projekte und Deployment über CI/CD (Jenkins) verwalten. Systemleistung durch Monitoring-Tools überwachen.`,
        icon: 'tabler:code',
      },
      {
        title: 'Scrum Master',
        description: `Scrum Teams betreuen und in Scrum-Fragen coachen, Prozessoptimierung und Hindernisbeseitigung. Beratung zu Atlassian Produkten (JIRA, Confluence) und Planung von Scrum-Implementierungen.`,
        icon: 'tabler:progress',
      },
      {
        title: 'Teamleitung',
        description: `Mitarbeitergespräche führen und Perspektiven zur Weiterentwicklung erarbeiten. Kommunikation im Team sicherstellen, Ressourcenplanung sowie Release- und Incident-Management.`,
        icon: 'tabler:users-group',
      },
      {
        title: 'Projektleitung',
        description: `Kundenprojekte planen, Roadmaps und Meilensteine erstellen. Kontrolle von Projektfortschritten und Budgets, Kommunikation und Reporting an Stakeholder. Pflege von Projektboards in Jira und Dokumentation in Confluence.`,
        icon: 'tabler:cap-projecting',
      },
      {
        title: 'QA-Softwaretesting',
        description: `Anforderungen prüfen und Testszenarien durchführen. Fehlerdokumentation in Jira und Fehlernachtests. Deployment in Testumgebungen und tägliche Status-Berichte in Daily Stand-Ups.`,
        icon: 'tabler:bug',
      },
      {
        title: 'Engagement',
        description: `Proaktive und leidenschaftliche Herangehensweise an Herausforderungen. Starke Motivation, Ziele zu erreichen und kontinuierlich Neues zu lernen. Bereitschaft, über das Erwartete hinaus einen Mehrwert zu schaffen.`,
        icon: 'tabler:heart',
      },
    ]}
  />
  <!-- Brands Widget ****************** -->

  <Brands
    id="tech"
    title="Software Stack"
    subtitle="Diese Technologien beherrsche ich."
    icons={[]}
    images={[
      { src: '~/assets/images/html5-logo.png', alt: 'HTML5' },
      { src: 'https://img.icons8.com/color/96/css3.png', alt: 'CSS3' },
      { src: 'https://img.icons8.com/fluency/96/javascript.png', alt: 'JavaScript' },
      { src: 'https://img.icons8.com/fluency/96/tailwind_css.png', alt: 'Tailwind CSS' },
      { src: '~/assets/images/bem-css-logo.png', alt: 'BEM CSS' },
      { src: 'https://img.icons8.com/color/240/nodejs.png', alt: 'Node.js' },
      { src: '~/assets/images/astro.png', alt: 'Astro' },
      { src: 'https://img.icons8.com/color/96/npm.png', alt: 'npm' },
      { src: '~/assets/images/github-logo.png', alt: 'GitHub' },
      { src: 'https://git-scm.com/images/logo@2x.png', alt: 'Git' },
    ]}
    classes={{ container: 'bg-gray-100 max-w-7xl dark:bg-transparent sm:pb-0 md:pb-0 lg:pb-0' }}
  />
  <Brands
    id=""
    title=""
    subtitle="In diesen Technologien bilde ich mich aktuell fort."
    icons={[]}
    images={[
      { src: 'https://img.icons8.com/color/96/react-native.png', alt: 'React' },
      {
        src: 'https://img.icons8.com/external-tal-revivo-bold-tal-revivo/96/external-typescript-an-open-source-programming-language-developed-and-maintained-by-microsoft-logo-bold-tal-revivo.png',
        alt: 'TypeScript',
      },
      { src: 'https://img.icons8.com/color/96/python--v1.png', alt: 'Python' },
    ]}
    classes={{ container: 'bg-gray-100 max-w-7xl dark:bg-transparent' }}
  />
  <Brands
    title="Tools"
    subtitle="Mit diesen Tools arbeite ich gerne, oder habe Erfahrung in ihrer Anwendung."
    icons={[]}
    images={[
      { src: '~/assets/images/vscode-logo.png', alt: 'Visual Studio Code' },
      { src: 'https://img.icons8.com/fluency/96/microsoft-copilot.png', alt: 'Microsoft Copilot' },
      { src: 'https://img.icons8.com/ios/150/chatgpt.png', alt: 'ChatGPT' },
      {
        src: 'https://mistral.ai/images/logo_hubc88c4ece131b91c7cb753f40e9e1cc5_2589_256x0_resize_q97_h2_lanczos_3.webp',
        alt: 'Mistral',
      },
      { src: 'https://img.icons8.com/color/96/figma--v1.png', alt: 'Figma' },
      { src: 'https://img.icons8.com/color/96/inkscape--v1.png', alt: 'Inkscape' },
      { src: 'https://img.icons8.com/color/96/gimp.png', alt: 'GIMP' },
      { src: 'https://img.icons8.com/color/96/adobe-photoshop--v1.png', alt: 'Adobe Photoshop' },
      { src: 'https://img.icons8.com/color/96/adobe-illustrator--v1.png', alt: 'Adobe Illustrator' },
      { src: 'https://img.icons8.com/color/96/jenkins.png', alt: 'Jenkins' },
      { src: 'https://img.icons8.com/color/96/jira.png', alt: 'Jira' },
      { src: 'https://img.icons8.com/fluency/96/confluence.png', alt: 'Confluence' },
    ]}
  />
  <Brands
    title="CMS"
    subtitle="Mit diesen und anderen Content Management Systemen habe ich Erfahrung."
    icons={[]}
    images={[
      { src: 'https://img.icons8.com/color/96/wordpress.png', alt: 'WordPress' },
      {
        src: 'https://img.icons8.com/external-tal-revivo-color-tal-revivo/96/external-elementor-the-wordpress-page-builder-a-simple-intuitive-drag-and-drop-interface-logo-color-tal-revivo.png',
        alt: 'Elementor',
      },
      { src: '~/assets/images/typo3-logo.png', alt: 'TYPO3' },
      { src: '~/assets/images/redaxo-logo.png', alt: 'Redaxo' },
    ]}
    classes={{ container: 'bg-gray-100 max-w-7xl dark:bg-transparent' }}
  />

  <Features
    id="features"
    classes={{ container: '' }}
    tagline="Abstrakt"
    title="Was ich dir<br /> bieten kann"
    subtitle="Als Generalist bringe ich eine breite Palette an Fähigkeiten und Erfahrungen mit, die ich in jedes Projekt einfließen lasse. Mit Herz und Engagement sorge ich dafür, dass jedes Projekt perfekt funktioniert und beeindruckt."
    items={[
      {
        title: 'Projektleitung und Servant Leadership',
        description:
          'Mit meiner Erfahrung in der Projektleitung und einem servant leadership Ansatz sorge ich dafür, dass Projekte reibungslos laufen und das Team motiviert bleibt.',
        icon: 'tabler:users',
      },
      {
        title: 'Betreuung und Erweiterung von Legacy-Systemen',
        description:
          'Ich kümmere mich nicht nur um moderne Lösungen, sondern auch um bestehende Legacy-Systeme. Egal ob Wartung, Optimierung oder Erweiterung – ich sorge dafür, dass ältere Systeme reibungslos funktionieren und aktuellen Anforderungen gerecht werden.',
        icon: 'tabler:layers-linked',
      },
      {
        title: 'Mit Herz und Engagement',
        description:
          'Jedes Projekt gehe ich mit Herzblut und vollem Engagement an. Meine Arbeit ist erst dann beendet, wenn alles funktioniert und toll aussieht.',
        icon: 'tabler:heart',
      },
      {
        title: 'Hohe Performance',
        description:
          'Performance ist mir besonders wichtig. Jedes Projekt, das ich betreue, wird mit Adleraugen geprüft, um sicherzustellen, dass alles perfekt funktioniert und performant läuft.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Perfektion und Liebe zum Detail',
        description:
          'Ich strebe nach Perfektion und achte auf die kleinen Details, die den Unterschied machen. Meine Arbeit zeigt sich in der Qualität und Präzision.',
        icon: 'tabler:diamond',
      },
      {
        title: 'Umfassendes Software Testing',
        description:
          'Gründliches Software Testing ist mir wichtig und macht mir großen Spaß. So stelle ich sicher, dass alles stabil und fehlerfrei läuft.',
        icon: 'tabler:checkup-list',
      },
      {
        title: 'Ganzheitliches Marketing',
        description:
          'Ich unterstütze dich dabei, deine Online-Präsenz durch SEO, SEA, Social Media und andere Strategien zu maximieren, damit du genau die richtigen Leute erreichst.',
        icon: 'tabler:chart-pie',
      },
      {
        title: 'Gemeinsam etwas Neues schaffen',
        description:
          'Ich liebe es, wenn Projekte wachsen und neue Ideen einfließen. Offenheit und Zusammenarbeit sind für mich das A und O, um das Beste aus einem Projekt herauszuholen.',
        icon: 'tabler:bulb',
      },
    ]}
  />
</Layout>
