---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Elevate your online presence with our <br />
      <span class="text-accent dark:text-white highlight"> Beautiful Website Templates</span>
    </Fragment>

    <Fragment slot="subtitle">
      Donec efficitur, ipsum quis congue luctus, mauris magna convallis mauris, eu auctor nisi lectus non augue. Donec
      quis lorem non massa vulputate efficitur ac at turpis. Sed tincidunt ex a nunc convallis, et lobortis nisi tempus.
      Suspendisse vitae nisi eget tortor luctus maximus sed non lectus.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '4' },
      { title: 'Employees', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our templates"
    subtitle="Etiam scelerisque, enim eget vestibulum luctus, nibh mauris blandit nulla, nec vestibulum risus justo ut enim. Praesent lacinia diam et ante imperdiet euismod."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Educational',
        description:
          'Morbi faucibus luctus quam, sit amet aliquet felis tempor id. Cras augue massa, ornare quis dignissim a, molestie vel nulla.',
        icon: 'tabler:template',
      },
      {
        title: 'Interior Design',
        description:
          'Vivamus porttitor, tortor convallis aliquam pretium, turpis enim consectetur elit, vitae egestas purus erat ac nunc nulla.',
        icon: 'tabler:template',
      },
      {
        title: 'Photography',
        description:
          'Duis sed lectus in nisl vehicula porttitor eget quis odio. Aliquam erat volutpat. Nulla eleifend nulla id sem fermentum.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Steps
    id="resume"
    title="Lebenslauf"
    items={[
      {
        title:
          'ion2s GmbH <br /> <span class="font-normal">Projektmanager Scrum Master</span> <br /> <span class="text-sm font-normal">2016 - Heute</span>',
        description: `Verantwortlich für IT-Management und Scrum-Prozesse. <br /> Sicherstellung effizienter Projektabläufe und Kommunikation im Team. <br /> Einführung und Betreuung agiler Methoden und Tools.`,
        icon: 'tabler:briefcase',
        logo: {
          src: '/images/Screenshot 2024-12-05 125828.jpg',
          alt: 'ion2s GmbH Logo',
        },
      },
      {
        title:
          'ion2s GmbH <br /> <span class="font-normal">Front-End-Entwickler</span> <br /> <span class="text-sm font-normal">2012 - 2016</span>',
        description: `Umsetzung moderner Benutzeroberflächen mit CSS und Typo3. <br /> Optimierung von Webseiten für Performance und Benutzerfreundlichkeit. <br /> Zusammenarbeit mit Design- und Back-End-Teams.`,
        icon: 'tabler:briefcase',
        logo: {
          src: '/images/Screenshot 2024-12-05 125828.jpg',
          alt: 'ion2s GmbH Logo',
        },
      },
      {
        title:
          'Intercontact Werbegesellschaft mbH i.L. <br /> <span class="font-normal">Web-Entwickler</span> <br /> <span class="text-sm font-normal">2010 - 2012</span>',
        description: `Entwicklung von Webseiten und Online-Anwendungen. <br /> Einsatz von CSS und Adobe Illustrator für die Gestaltung und Umsetzung. <br /> Unterstützung bei digitalen Marketingkampagnen.`,
        icon: 'tabler:briefcase',
        logo: {
          src: '/images/werbeagentur_frankfurt.png',
          alt: 'Intercontact Logo',
        },
      },
      {
        title:
          'PREUSS MEDIENSERVICE e.K. <br /> <span class="font-normal">Mediengestalter</span> <br /> <span class="text-sm font-normal">2003 - 2009</span>',
        description: `Gestaltung und Druckvorbereitung von Printmedien. <br /> Entwicklung kreativer Konzepte für Werbematerialien. <br /> Betreuung des gesamten Druckvorstufenprozesses.`,
        icon: 'tabler:briefcase',
        logo: {
          src: '/images/Screenshot 2024-12-05 125602.jpg',
          alt: 'PREUSS MEDIENSERVICE Logo',
        },
      },
      {
        title:
          'PREUSS MEDIENSERVICE e.K. <br /> <span class="font-normal">Auszubildender im Bereich Drucktechnik</span> <br /> <span class="text-sm font-normal">1999 - 2003</span>',
        description: `Ausbildung in Drucktechnik mit Schwerpunkt Printmedien. <br /> Erlernen der Grundlagen von Design und Druckvorstufe. <br /> Praktische Erfahrung in der Produktion und Qualitätskontrolle.`,
        icon: 'tabler:briefcase',
        logo: {
          src: '/images/Screenshot 2024-12-05 125602.jpg',
          alt: 'PREUSS MEDIENSERVICE Logo',
        },
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Steps
    id="resume"
    title="Ausbildung"
    items={[
      {
        title: `Ausbildung, Mediengestalter für Digital- und Printmedien <br /> <span class="font-normal">Peter-Behrens-Schule Darmstadt</span> <br /> <span class="text-sm font-normal">Aug. 1999 - Juli 2002</span>`,
        description: `Abschlussnote: 1`,
        icon: 'tabler:school',
        logo: {
          src: '/images/Screenshot 2024-12-05 151415.jpg',
          alt: 'PREUSS MEDIENSERVICE Logo',
        },
      },
      {
        title: `Realschulabschluss, Drucktechnik <br /> <span class="font-normal">Peter-Behrens-Schule Darmstadt</span> <br /> <span class="text-sm font-normal">Mai 1996 - Mai 1999</span>`,
        description: `Abschlussnote: 1`,
        icon: 'tabler:school',
        logo: {
          src: '/images/Screenshot 2024-12-05 151415.jpg',
          alt: 'PREUSS MEDIENSERVICE Logo',
      },
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Steps
    id="resume"
    title="Zertifikate"
    items={[
      {
        title: `Certified ScrumMaster® <br /> <span class="font-normal">Scrum Alliance</span> <br /> <span class="text-sm font-normal">Ausgestellt: Apr. 2021 · Gültig bis: Apr. 2025</span>`,
        description: `Zertifikats-ID: 001189726`,
        icon: 'tabler:certificate',
        logo: {
          src: '/images/scrum_alliance_logo.jpg',
          alt: 'Firmen Logo',
        },
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'EE.UU',
        description: '1234 Lorem Ipsum St, 12345, Miami',
      },
      {
        title: 'Spain',
        description: '5678 Lorem Ipsum St, 56789, Madrid',
      },
      {
        title: 'Australia',
        description: '9012 Lorem Ipsum St, 90123, Sydney',
      },
      {
        title: 'Brazil',
        description: '3456 Lorem Ipsum St, 34567, São Paulo',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
