---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
// import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'P X L N G N ~ pixel engineer [Alain Ritter]',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    id="hero"
    title="Hallo,"
    tagline="intro"
    actions={[
      { variant: 'primary', text: 'Über mich', href: '/about' },
      { variant: 'primary', text: 'FAQs', href: '#faq' },
    ]}
    bg='<img class="absolute -my-2 inset-0 object-cover w-full h-full dark:hidden" src="/images/photo-1428908728789-d2de25dbd4e2.jpg">'
  >
    <Fragment slot="title"></Fragment>

    <Fragment slot="subtitle">
      <span
        >und willkommen auf meinem Blog. <br />Auf den folgenden Seiten teile ich meine Erfahrungen und Gedanken zu
        Webentwicklung, Design, Projektmanagement und anderen Themen, die mich begeistern.
      </span>
    </Fragment>
  </Hero>

  <BlogLatestPosts
    title="Von Ideen zu Projekten: Einblicke in meine Gedanken und Werke!"
    information={`In diesem Blog nehme ich dich mit in meine Welt, die sich rund um Webentwicklung, Design, Projektmanagement und Testing dreht. Hier findest du keine perfekte Anleitung oder universelle Wahrheiten, sondern ehrliche Einblicke in meine Interessen, meine Projekte und die Herausforderungen, die mich beschäftigen.
              `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faq"
    title="Häufig gestellte Fragen"
    subtitle="Hier findest du Antworten auf die häufigsten Fragen zu dieser kleinen Ecke des Internets. Ich hoffe, du findest hier, was du suchst. Wenn nicht, schreib mir einfach – ich helfe gerne weiter!"
    tagline="FAQs"
    classes={{ container: 'max-w-5xl' }}
    items={[
      {
        title: 'Was soll das Logo bedeuten?',
        description:
          'Mein Logo steht für Pixel Engine { p x l n g n }. Es zeigt meine Leidenschaft für kreatives Design und technische Perfektion – jedes Pixel sitzt genau richtig.',
      },
      {
        title: 'Warum benutzt du das Astrowind Theme?',
        description:
          'Astrowind von onWidget ist nicht nur schick, sondern auch technisch stark. Es ist leicht, flexibel und super dokumentiert, was das Entwickeln und Anpassen viel einfacher macht. Außerdem passt es perfekt zu meinen Ansprüchen an Performance und Design.',
      },
      {
        title: 'Wo hostest du deine Seiten?',
        description:
          'Ich hoste meine privaten Seiten, traditionell schon immer bei <a href="https://www.ionos.de/" target="_blank">IONOS</a>. Ich habe viele Erfahrungen mit verschiedenen Hosting-Anbietern gemacht. Und kann IONOS uneingeschränkt empfehlen.',
      },
      {
        title: 'Du schreibst du bist Entwickler, Designer, Projektleiter und QA, was denn jetzt?',
        description:
          'Ich bin ein typischer Generalist und decke alle diese Bereiche ab. Mein Herz schlägt aktuell jedoch für Design und Entwicklung.',
      },
      {
        title: 'Kann ich dich persönlich kennenlernen?',
        description:
          'Klar doch! Ich bin immer offen für ein persönliches Treffen. Lass uns einfach einen Termin vereinbaren.',
      },
      {
        title: 'Bist du für Projekte zu haben?',
        description: 'Im Moment bin ich nicht direkt für Projekte zu haben, weil ich gerade auf der Jobsuche bin.',
      },
    ]}
  />
</Layout>
