---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
// import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'pxlngn | Intro',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    id="hero"
    title="Hallo,<br/> mein Name<br/> ist Alain."
    tagline="intro"
    class:list={['border-b border-slate-200 dark:border-slate-800']}
    actions={[
      { variant: 'secondary', text: 'Über mich', href: '/about', icon: 'tabler:user' },
      // { variant: 'primary', text: 'FAQs', href: '#faq', icon: 'tabler:zoom-question' },
    ]}
    bg='<img class="border-b border-slate-200 dark:border-slate-800 absolute -my-2 inset-0 bottom-0 object-cover w-full h-full dark:hidden" src="/images/5594016.jpg" />'
  >
    <Fragment slot="title"></Fragment>

    <Fragment slot="subtitle">
      <span
        >Willkommen in meiner digitalen Welt! Auf den folgenden Seiten teile ich meine Erfahrungen und Gedanken zu
        Webentwicklung, Design, Projektmanagement und anderen Themen, die mich begeistern.
      </span>
    </Fragment>
  </Hero>
  <!-- Content Widget **************** -->

  <!-- <Content
    id="portfolio"
    title="Mein Portfolio"
    subtitle="Vergangenes und Aktuelles: Projekte, die mich geprägt haben."
    isReversed
    items={[
      {
        title: 'Beschreibung:',
        description:
          'Entwickelte ein responsives Dashboard für ein Technologie-Startup, das Echtzeit-Datenanalyse bietet. Der Fokus lag auf einer benutzerfreundlichen Oberfläche, die sowohl für Einsteiger als auch für erfahrene Nutzer zugänglich ist.',
      },
      {
        title: 'Rolle:',
        description:
          'Konzipierte und implementierte das Frontend mit modernen Technologien wie React und Tailwind CSS. Optimierte die Performance durch Lazy Loading und State-Management mit Redux.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Dashboard Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Projekt ansehen',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Projekt 1: <br /><span class="text-2xl">Interaktives Dashboard für Tech-Innovatoren</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute bg-slate-100"></div>
    </Fragment>
  </Content> -->

  <!-- Weiteres Projekt -->

  <!-- <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Beschreibung:',
        description:
          'Entwickelte eine Landingpage für ein Kunst- und Musikfestival mit Fokus auf einer immersiven Benutzererfahrung. Die Seite enthält animierte Übergänge und interaktive Elemente.',
      },
      {
        title: 'Rolle:',
        description:
          'Erstellte die Benutzeroberfläche mit Astro und Tailwind CSS. Integrierte dynamische Inhalte und Animationen mit JavaScript und sorgte für eine reibungslose Performance.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Landing Page Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Projekt ansehen',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Projekt 2: <br /><span class="text-2xl">Landingpage für Kunst- und Musikfestival</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute bg-slate-100"></div>
    </Fragment>
  </Content> -->

  <!-- Weiteres Projekt -->

  <!-- <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Beschreibung:',
        description:
          'Überarbeitete die Benutzeroberfläche eines E-Commerce-Shops, um die Konversionsrate zu erhöhen und die Benutzerfreundlichkeit zu verbessern.',
      },
      {
        title: 'Rolle:',
        description:
          'Entwickelte ein neues Frontend mit React und integrierte ein modernes Design. Implementierte Filter- und Suchfunktionen, um die Navigation im Shop zu vereinfachen.',
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'E-Commerce Shop Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Projekt ansehen',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Projekt 3: <br /><span class="text-2xl">Redesign eines E-Commerce-Shops</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute bg-slate-100"></div>
    </Fragment>
  </Content>
  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Beschreibung:',
        description:
          'Erstellt ein interaktives Webdesign für eine Fitness-App-Website, um potenzielle Nutzer anzusprechen und die Benutzerfreundlichkeit zu maximieren.',
      },
      {
        title: 'Rolle:',
        description:
          'Entwickelte das UI mit Figma und implementierte das Frontend mit HTML, CSS und JavaScript. Integrierte Benutzerinteraktionen wie animierte Übergänge, Tooltips und responsive Layouts.',
      },
    ]}
    image={{
      src: 'https://picsum.photos/seed/picsum/200/300',
      alt: 'Fitness App Webdesign',
    }}
    callToAction={{
      target: '_blank',
      text: 'Projekt ansehen',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Projekt 4: <br /><span class="text-2xl">UI/UX-Design für Fitness-App-Website</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute bg-slate-100"></div>
    </Fragment>
  </Content> -->

  <!-- Blog Latest Posts ******************* -->

  <BlogLatestPosts
    id="blog"
    title="Lernen, Scheitern, Wachsen: Meine digitale Reise"
    information={`Von Webentwicklung bis Design: Hier gibt es ehrliche Geschichten über Herausforderungen und Erfolgsmomente. Lass dich inspirieren und entdecke neue Perspektiven.`}
  />

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    id="faq"
    classes={{ container: 'border-t border-b border-slate-200 dark:border-slate-800 dark:bg-transparent max-w-4xl' }}
    bg='<img class="absolute inset-0 object-cover w-full h-full dark:hidden" src="/images/O6DXV30.jpg" />'
    title="Häufig gestellte Fragen"
    subtitle="Hier findest du Antworten auf die häufigsten Fragen zu dieser kleinen Ecke des Internets. Ich hoffe, du findest hier, was du suchst. Wenn nicht, schreib mir einfach – ich helfe gerne weiter!"
    tagline="FAQs"
    items={[
      {
        title: 'Was soll das Logo bedeuten?',
        description:
          'Mein Logo, welches mich seit Jahren begleitet, bedeutet ausgeschrieben "Pixel Engine", nur ohne Konsonanten. Die Wörter Pixel und Engine, sind Synonyme für Design und Logik.',
      },
      {
        title: 'Du schreibst du bist Entwickler, Designer, Projektleiter und QA, was denn jetzt?',
        description:
          'Ich bin ein Generalist und decke alle diese Bereiche ab. Mein Herz schlägt aktuell jedoch für Design und Entwicklung.',
      },
      {
        title: 'Wie kann ich dich kennenlernen?',
        description: 'Schreibe mir am besten eine E-Mail, oder kontaktiere mich über LinkedIn.',
      },

    ]}
  /> -->
</Layout>
