---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
// import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'P X L N G N ~ pixel engineer [Alain Ritter]',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    id="hero"
    title="Willkommen,"
    tagline="start"
    actions={[
      { text: 'Über mich', href: '/about' },
      { text: 'FAQ´s', href: '/#faq' },
    ]}
  >
    <Fragment slot="title"> Willkommen, </Fragment>

    <Fragment slot="subtitle">
      <span
        >auf meiner persönlichen Homepage. <br />Auf den folgenden Seiten teile ich meine Erfahrungen und Gedanken zu
        Webentwicklung, Design, Projektmanagement und anderen Themen die mich begeistern.
      </span>
    </Fragment>
    <Fragment slot="bg">
      <img
        src="https://images.unsplash.com/photo-1731926851260-de4f4763dc40?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="absolute inset-0 object-cover w-full h-full dark:hidden"
        alt="Alain Ritter"
      />
    </Fragment>
  </Hero>

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faq"
    title="Häufig gestellte Fragen"
    subtitle="Hier findest du Antworten auf die häufigsten Fragen zu dieser kleinen Ecke des Internets. Ich hoffe, du findest hier, was du suchst. Wenn nicht, schreib mir einfach – ich helfe gerne weiter!"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Was soll das Logo bedeuten?',
        description:
          'Mein Logo steht für Pixel Engine { p x l n g n }. Es zeigt meine Leidenschaft für kreatives Design und technische Perfektion – jedes Pixel sitzt genau richtig.',
      },
      {
        title: 'Warum benutzt du das Astrowind Theme?',
        description:
          'Astrowind von onWidget ist nicht nur schick, sondern auch technisch stark. Es ist leicht, flexibel und super dokumentiert, was das Entwickeln und Anpassen viel einfacher macht. Außerdem passt es perfekt zu meinen Ansprüchen an Performance und Design.',
      },
      {
        title: 'Wo hostest du deine Seiten?',
        description:
          'Ich hoste meine privaten Seiten, traditionell schon immer bei <a href="https://www.ionos.de/" target="_blank">IONOS</a>. Ich habe viele Erfahrungen mit verschiedenen Hosting-Anbietern gemacht. Und kann IONOS uneingeschränkt empfehlen.',
      },
      {
        title: 'Du schreibst du bist Entwickler, Designer, Projektleiter und QA, was denn jetzt?',
        description:
          'Ich bin ein typischer Generalist und decke alle diese Bereiche ab. Mein Herz schlägt aktuell jedoch für Design und Entwicklung.',
      },
      {
        title: 'Kann ich dich persönlich kennenlernen?',
        description:
          'Klar doch! Ich bin immer offen für ein persönliches Treffen. Lass uns einfach einen Termin vereinbaren.',
      },
      {
        title: 'Bist du für Projekte zu haben?',
        description: 'Im Moment bin ich nicht direkt für Projekte zu haben, weil ich gerade auf der Jobsuche bin.',
      },
    ]}
  />
</Layout>
