---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'pxlngn | PIXEL ENGINE {Alain Ritter}',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    id="hero"
    title="Hallo,<br/> mein Name<br/> ist Alain."
    tagline="intro"
    class:list={['border-b border-gray-200/100 dark:border-gray-500/20']}
    actions={[
      { variant: 'secondary', text: 'Profil', href: '/profile', icon: 'tabler:user' },
      { variant: 'primary', text: 'Blog', href: '/blog', icon: 'tabler:article' },
    ]}
    bg='<img class="border-b border-gray-200/100 dark:border-gray-500/20 absolute -my-2 inset-0 bottom-0 object-cover w-full h-full dark:hidden" src="/images/5594016.jpg" />'
  >
    <Fragment slot="title"></Fragment>

    <Fragment slot="subtitle">
      <span
        >Willkommen in meiner digitalen Welt!<br />Auf den folgenden Seiten teile ich meine Erfahrungen und Gedanken zu
        Webentwicklung, Design, Projektmanagement und anderen Themen, die mich begeistern.
      </span>
    </Fragment>
  </Hero>
  <!-- Content Widget **************** -->

  <Content
    id="projects"
    title="Übersicht<br/> aktueller<br/> Werke"
    tagline="Projekte"
    subtitle="Eine Auswahl meiner aktuellen Projekte."
    isReversed
    items={[
      {
        title: 'Beschreibung:',
        description:
          'Erstellt eine responsive Webseite für eine Gesundheitspraxis mit Fokus auf Performance und Benutzerfreundlichkeit. Die Seite bietet einen Dark/Light-Modus und informiert umfassend über das Thema Darmgesundheit.',
      },
      {
        title: 'Rolle:',
        description:
          'Design und Entwicklung der Webseite mit AstroJS und Tailwind CSS. Verfassen der Inhalte für den Bereich "Darmgesundheit" sowie Optimierung der Performance.',
      },
      {
        title: 'Technologie:',
        description:
          'Entwickelt mit AstroJS und Tailwind CSS. Integriert wurden dynamische Funktionen wie ein Dark/Light-Modus und optimierte Ladezeiten.',
      },
      {
        title: 'Features:',
        description: 'Responsive Design, Dark/Light-Modus, hoher Performance-Score und benutzerfreundliche Inhalte.',
      },
    ]}
    image={{
      src: '~/assets/images/projekt-teaser-webseite-gesundheitspraxis-stefanie-leidel.jpg',
      alt: 'Webseite Wohlfühlgesundheit',
    }}
    callToAction={{
      target: '_blank',
      text: 'Projekt ansehen',
      icon: 'tabler:chevron-right',
      href: 'https://wohlfühlgesundheit.de',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-semibold tracking-tight dark:text-white sm:text-3xl mb-2">
        Gesundheitspraxis - Stefanie Leidel
      </h3>

      <Fragment slot="bg">
        <div class="absolute bg-slate-100"></div>
      </Fragment>
    </Fragment>
  </Content>

  <!-- Weiteres Projekt -->
  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Beschreibung:',
        description:
          'Entwicklung einer anpassbaren Webseite für Amoro - The Art of Manifesting Love, mit einem Fokus auf Coaching und Mentoring. Die Seite ermöglicht es der Nutzerin, das Design nach ihren Wünschen anzupassen und bietet umfassende Informationen zum Thema Manifestation von Liebe.',
      },
      {
        title: 'Rolle:',
        description:
          'Verantwortlich für das Design und die Entwicklung der Webseite mit WordPress und Elementor Pro. Erstellung der Inhalte im Bereich Coaching und Mentoring sowie Optimierung der Benutzerfreundlichkeit. Zusätzlich übernehme ich die Wartung und das Hosting der Webseite.',
      },
      {
        title: 'Technologie:',
        description:
          'Entwickelt mit WordPress und Elementor Pro. Die Seite wurde so gestaltet, dass die Nutzerin das Design flexibel anpassen kann. Wartung und Hosting erfolgen kontinuierlich, um eine optimale Performance sicherzustellen.',
      },
      {
        title: 'Features:',
        description:
          'Anpassbares Design, benutzerfreundliche Oberfläche und intuitive Funktionen zur Anpassung der Webseite. Ständige Wartung und zuverlässiges Hosting für reibungslose Funktionalität.',
      },
    ]}
    image={{
      src: '~/assets/images/projekt-teaser-amoro-corrina-de.jpg',
      alt: 'Webseite Amoro - The Art of Manifesting Love',
    }}
    callToAction={{
      target: '_blank',
      text: 'Projekt ansehen',
      icon: 'tabler:chevron-right',
      href: 'https://corrina.de',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-semibold tracking-tight dark:text-white sm:text-3xl mb-2">
        Amoro - The Art of Manifesting Love
      </h3>

      <Fragment slot="bg">
        <div class="absolute bg-slate-100"></div>
      </Fragment>
    </Fragment>
  </Content>

  <!-- Weiteres Projekt -->

  <!-- <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Beschreibung:',
        description:
          'Überarbeitete die Benutzeroberfläche eines E-Commerce-Shops, um die Konversionsrate zu erhöhen und die Benutzerfreundlichkeit zu verbessern.',
      },
      {
        title: 'Rolle:',
        description:
          'Entwickelte ein neues Frontend mit React und integrierte ein modernes Design. Implementierte Filter- und Suchfunktionen, um die Navigation im Shop zu vereinfachen.',
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'E-Commerce Shop Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Projekt ansehen',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Projekt 3: <br /><span class="text-2xl">Redesign eines E-Commerce-Shops</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute bg-slate-100"></div>
    </Fragment>
  </Content>
  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Beschreibung:',
        description:
          'Erstellt ein interaktives Webdesign für eine Fitness-App-Website, um potenzielle Nutzer anzusprechen und die Benutzerfreundlichkeit zu maximieren.',
      },
      {
        title: 'Rolle:',
        description:
          'Entwickelte das UI mit Figma und implementierte das Frontend mit HTML, CSS und JavaScript. Integrierte Benutzerinteraktionen wie animierte Übergänge, Tooltips und responsive Layouts.',
      },
    ]}
    image={{
      src: 'https://picsum.photos/seed/picsum/200/300',
      alt: 'Fitness App Webdesign',
    }}
    callToAction={{
      target: '_blank',
      text: 'Projekt ansehen',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Projekt 4: <br /><span class="text-2xl">UI/UX-Design für Fitness-App-Website</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute bg-slate-100"></div>
    </Fragment>
  </Content> -->

  <!-- Blog Latest Posts ******************* -->
  <BlogLatestPosts
    id="blog"
    title="Lernen, Scheitern, Wachsen: Meine digitale Reise"
    information={`Von Webentwicklung bis Design: Hier gibt es ehrliche Geschichten über Herausforderungen und Erfolgsmomente. Lass dich inspirieren und entdecke neue Perspektiven.`}
    classes={{ container: 'py-12 md:py-16' }}
    bg='<img class="absolute inset-0 object-cover w-full h-full dark:hidden" src="/images/3247046.jpg" />'
  />
</Layout>
