@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-page {
    background-color: var(--aw-color-bg-page);
  }

  .bg-dark {
    background-color: var(--aw-color-bg-page-dark);
  }

  .bg-light {
    background-color: var(--aw-color-bg-page);
  }

  .text-page {
    color: var(--aw-color-text-page);
  }

  .text-muted {
    color: var(--aw-color-text-muted);
  }

  .text-link {
    color: var(--aw-color-text-link);
  }
}

@layer components {
  .btn {
    @apply Anklepants mb-2 me-2 inline-flex items-center justify-center rounded-lg px-5 py-2.5 text-center text-base uppercase tracking-wider;
  }

  .btn-primary {
    @apply btn bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 text-white shadow-lg shadow-cyan-500/50 hover:bg-gradient-to-br dark:shadow-lg dark:shadow-cyan-800/80;
  }

  .btn-secondary {
    @apply btn bg-gradient-to-r from-yellow-400 via-yellow-500 to-yellow-600 text-white shadow-lg shadow-yellow-500/50 hover:bg-gradient-to-br dark:shadow-lg dark:shadow-yellow-800/80;
  }

  .btn-tertiary {
    @apply btn bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 text-white shadow-lg shadow-cyan-500/50 hover:bg-gradient-to-br dark:shadow-lg dark:shadow-cyan-800/80;
  }
}

/* Custom Font */
@font-face {
  font-family: 'Anklepants';
  src: url('/fonts/Anklepants.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.Anklepants {
  font-family: 'Anklepants';
}

/* Header/Nav */
#header.scroll > div:first-child {
  @apply bg-page border-b border-gray-500/20;
}

.dark #header.scroll > div:first-child,
#header.scroll.dark > div:first-child {
  @apply bg-page border-b border-gray-500/20;
  box-shadow: none;
}

/* #header.scroll > div:last-child {
  @apply py-3;
} */

#header.expanded {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#header.expanded nav {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 5px;
}

.dropdown:focus .dropdown-menu,
.dropdown:focus-within .dropdown-menu,
.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}

[data-aw-toggle-menu].expanded g > path:first-child {
  @apply translate-x-[-3px] translate-y-[15px] -rotate-45;
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply translate-x-[14px] translate-y-[-8px] rotate-45;
}

/* To deprecated */
.dd *:first-child {
  margin-top: 0;
}

/* Custom Gradient */
.gradient {
  background: rgb(240, 254, 255);
  background: linear-gradient(0deg, rgba(240, 254, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 248, 240, 1) 100%);
}
/* Custom Gradient */
.dark .gradient {
  background: transparent;
  background: linear-gradient(0deg, rgba(240, 254, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 248, 240, 0) 100%);
}
