---
import type { Headline as Props } from '~/types';
import { twMerge } from 'tailwind-merge';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  classes = {},
} = Astro.props;

const { container: containerClass = 'max-w-3xl', subtitle: subtitleClass = 'text-xl' } = classes;
const titleLines = title ? title.split('<br/>').filter((line) => line.trim()) : [];
---

{
  (title || subtitle || tagline) && (
    <div class={twMerge('mb-8 text-center md:mx-auto md:mb-12', containerClass)}>
      {tagline && (
        <p
          class="font-bold uppercase tracking-normal text-slate-900/30 dark:text-slate-300/50"
          set:html={tagline}
          data-animate
          data-anim-type="fade-down"
        />
      )}
      {titleLines.length > 0 && (
        <h1 class="text-shadow-[1px_1px_0px_0px_#fff] Anklepants leading-tighter mb-4 break-all font-heading text-5xl tracking-tighter dark:text-gray-200">
          {titleLines.map((line, index) => (
            <span
              data-animate
              data-anim-type={index % 2 === 0 ? 'fade-left' : 'fade-right'}
              data-anim-delay={index * 150}
              set:html={line}
              class="block"
            />
          ))}
        </h1>
      )}
      {subtitle && (
        <p
          data-animate
          data-anim-type="typewriter"
          class={twMerge('mt-4 text-muted', subtitleClass)}
          set:html={subtitle}
        />
      )}
    </div>
  )
}
