---
import type { Headline as Props } from '~/types';
import { twMerge } from 'tailwind-merge';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  classes = {},
} = Astro.props;

const {
  container: containerClass = 'max-w-3xl',
  title: titleClass = 'text-4xl md:text-6xl ',
  subtitle: subtitleClass = 'text-xl',
} = classes;
---

{
  (title || subtitle || tagline) && (
    <div class={twMerge('mb-8 md:mx-auto md:mb-12 text-center', containerClass)}>
      {tagline && (
        <p
          class="text-slate-900/30 dark:text-slate-300/50 font-bold tracking-normal uppercase"
          set:html={tagline}
          data-aos="fade-down"
          data-aos-duration="1200"
          data-aos-delay="0"
        />
      )}
      {title && (
        <h2
          class={twMerge(
            'Anklepants leading-tighter tracking-tighter font-heading text-heading text-4xl lg:text-5xl text-center',
            titleClass
          )}
          set:html={title}
          data-aos="fade-up"
          data-aos-duration="1400"
          data-aos-delay="200"
        />
      )}

      {subtitle && <p class={twMerge('mt-4 text-muted', subtitleClass)} set:html={subtitle} data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400" />}
    </div>
  )
}
