---
import type { HTMLTag } from 'astro/types';
import type { Widget } from '~/types';
import { twMerge } from 'tailwind-merge';
import Background from './Background.astro';

export interface Props extends Widget {
  containerClass?: string;
  ['as']?: HTMLTag;
}

const { id, isDark = false, containerClass = '', bg, as = 'section' } = Astro.props;

const WrapperTag = as;
---

<WrapperTag class="not-prose relative scroll-mt-[80px]" {...id ? { id } : {}}>
  <div class="mobile-bg-container pointer-events-none absolute inset-0 -z-[1]" aria-hidden="true">
    <slot name="bg">
      {bg ? <Fragment set:html={bg} /> : <Background isDark={isDark} />}
    </slot>
  </div>
  <div
    class:list={[
      twMerge(
        'relative mx-auto max-w-5xl px-4 pb-12 pt-12 text-default md:px-6 md:pb-16 md:pt-16 lg:pb-20 lg:pt-20',
        containerClass
      ),
      { dark: isDark },
    ]}
  >
    <slot />
  </div>
</WrapperTag>
